pandas==2.0.1 ; python_version >= '3.8'
pillow==9.5.0
numpy==1.24.3
cupy==12.0.0
scikit-image==0.20.0
scipy==1.10.1
tqdm==4.65.0 ; python_version >= '3.7'
matplotlib==3.7.1
jupyterlab==3.6.5
jupyterlab_widgets==1.1.5
ipywidgets==7.8.0
aicsimageio=4.11.0
aicspylibczi>=3.1.1